body {
  height: 100vh;
  /* background-image: url('https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'); */
}

#author {
  font-size: 20px;
  position: absolute;
  bottom: 2vh;
  color: black;
}

#bottom-right {
  font-size: 20px;
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  color: black;
}